<ion-app> 
<ion-menu side="start" contentId="main-content" >
  <ion-header>
    <ion-toolbar class="header-color">
      <ion-title>Na Volta Eu Compro</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list >
      <ion-menu-toggle ><ion-item [routerLink]="['/home']">NVEC</ion-item></ion-menu-toggle>
      <ion-menu-toggle><ion-item [routerLink]="['/tema']">Tema do Tcc</ion-item></ion-menu-toggle>
      <ion-menu-toggle><ion-item [routerLink]="['/objetivos']">Objetivos</ion-item></ion-menu-toggle>
      <ion-menu-toggle><ion-item [routerLink]="['/tecnologias']">Tecnologias</ion-item></ion-menu-toggle>
      <ion-menu-toggle><ion-item [routerLink]="['/integrantes']" >Integrantes do grupo</ion-item></ion-menu-toggle>
      <ion-menu-toggle><ion-item [routerLink]="['/agradecimento']">Agradecimentos</ion-item></ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
</div>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
