<ion-app> 
<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar color="">
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle><ion-item [routerLink]="['/home']">Home</ion-item></ion-menu-toggle>
      <ion-menu-toggle><ion-item [routerLink]="['/tema-tcc']">Tema do Tcc</ion-item></ion-menu-toggle>
      <ion-menu-toggle><ion-item >Objetivo</ion-item></ion-menu-toggle>
      <ion-menu-toggle><ion-item >Tecnologias</ion-item></ion-menu-toggle>
      <ion-menu-toggle><ion-item >Integrantes do grupo</ion-item></ion-menu-toggle>
      <ion-menu-toggle><ion-item >Agradecimentos</ion-item></ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
</div>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
