<ion-header [translucent]="true" >
  <ion-toolbar class="header-color">
    <ion-menu-button type="push" slot="start"></ion-menu-button>
    <ion-title>Tema do TCC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  class="background-image">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tema do TCC</ion-title>
    </ion-toolbar>
  </ion-header>

  <img alt="Silhouette of mountains" src="../../assets/img/logoTCC.png" />
  <ion-card >
    <ion-card-header>
      <ion-card-title>
        Apresentando nosso TCC
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        A gestão eficaz das finanças pessoais é um desafio que afeta significativamente a qualidade de vida de indivíduos e famílias em todo o mundo. O crescente endividamento, a falta de educação financeira e a dificuldade em encontrar produtos acessíveis são problemas que se tornaram cada vez mais comuns. Na Região Metropolitana da Baixada Santista, essas questões não são exceção, e a necessidade de soluções eficazes é evidente. 
        
        <br><br>Neste contexto, este trabalho de conclusão de curso (TCC) tem como objetivo apresentar um projeto que visa abordar esses desafios por meio do desenvolvimento de um aplicativo móvel dedicado à gestão financeira pessoal. O projeto tem como alvo a população da Baixada Santista, uma região caracterizada por sua atividade econômica intensa, mas também pelos desafios financeiros que seus residentes enfrentam devido ao alto custo de vida. 
          
        <br><br>O aplicativo proposto oferecerá aos usuários ferramentas para registrar suas despesas, comparar preços de produtos, estabelecer limites de gastos e obter um maior controle sobre suas finanças. Além disso, fornecerá informações educacionais sobre gestão financeira, visando melhorar a conscientização financeira e promover hábitos de consumo mais saudáveis.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
