<ion-header [translucent]="true">
  <ion-toolbar class="header-color">
    <ion-menu-button type="push" slot="start"></ion-menu-button>
    <ion-title>
      Objetivos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image">
  <ion-card>
    <ion-card-header>
          <ion-card-title>
            Objetivos
        </ion-card-title>
    </ion-card-header>

    <ion-card-content>
       O projeto tem como objetivo apresentar uma solução que visa abordar os desafios enfrentados pela população, tais como o endividamento, a falta de educação financeira e a dificuldade em encontrar produtos acessíveis, por meio do desenvolvimento de um aplicativo móvel dedicado à gestão financeira pessoal.
      <br><br>
      O projeto tem como alvo a população da Baixada Santista, uma região caracterizada por sua atividade econômica intensa, mas também pelos desafios financeiros que seus residentes enfrentam devido ao alto custo de vida. 
      <br><br>
      <img alt="Silhouette of mountains" src="https://brasilnaagenda2030.files.wordpress.com/2019/10/objetivos_port.png" />
      <span>O projeto se alinha com as ODS 1, 8 e 10.</span>
      <br><br>
      <span>ODS 1:</span> Versa sobre a erradicação da pobreza, sendo abordado em escala individual, por meio da capacitação das pessoas por meio da educação financeira, visando a redução do endividamento excessivo e o estímulo à estabilidade financeira, constituindo um passo fundamental na luta contra a pobreza. 
      <br><br>
      <span>ODS 8:</span> Concernente ao trabalho decente e ao crescimento econômico ao prover às pessoas as ferramentas essenciais para estabilizar suas finanças pessoais e buscar oportunidades de crescimento econômico individual. 
      <br><br>
      <span>ODS 10:</span> Relacionado à redução das desigualdades. O projeto contribui significativamente para atenuar as disparidades financeiras, facultando que indivíduos provenientes de diversas origens socioeconômicas adquiram maior controle sobre suas finanças, constituindo um passo crucial na direção da redução das desigualdades. 
    </ion-card-content>
  </ion-card>
</ion-content>
