.header-color {
    --background: #006EFF;
    --color: #ffffff; 
}

 .background-image {
    --background: url('../../assets/techs/background.png') no-repeat center center fixed;
}

ion-card-title{ 
    font-size: 24px;
}

ion-card-content{
    font-size: 16px;
}

ion-card-subtitle{
    font-size: 14px;
}

ion-card{
    background-color: rgba(255, 255, 255, 0.9);
}