.header-color {
    --background: #006EFF;
    --color: #ffffff; 
}

.background-image {
    --background: url('../../assets/techs/background.png') no-repeat center center fixed;
}

ion-card{
    background-color: rgba(233, 248, 255, 0.9);
}
  